<div data-role='content'>

  <div class='container_12'>
    <div class='prefix_4 grid_4 suffix_4'>
      <div id='up' data-role='button' data-icon='arrow-u' data-iconpos='top' data-inline='true'>
        Up
      </div>
    </div>
  </div>

  <div class='container_12'>

    <div class='grid_4'> 
      <div id='left' data-mini='true' data-role='button' data-icon='arrow-l' data-inline='true'>
        Left
      </div>
    </div>

    <div class='grid_4'>
      <div id='shoot' data-role='button' data-icon='delete' data-iconpos='bottom' data-inline='true'>
        Shoot
      </div>
    </div>

    <div class='grid_4'>
      <div id='right' data-role='button' data-icon='arrow-r' data-iconpos='right' data-inline='true'>
        Right
      </div>
    </div>
  </div>

  <div class='container_12'>
    <div class='prefix_4 grid_4 suffix_4'>
      <div id='down' data-role='button' data-icon='arrow-d' data-iconpos='bottom' data-inline='true'>
        Down
      </div>
    </div>
  </div>

</div>
