<div>
  <h1>Foam Missile Rocket Launcher</h1>
</div>

<div id='controls'>
  <div class='button' id='up'>
    Up
  </div>
  <div class='button' id='left'>
    Left
  </div>
  <div class='button' id='shoot'>
    Shoot
  </div>
  <div class='button' id='right'>
    Right
  </div>
  <div style='clear:both'></div>
  <div class='button' id='down'>
    Down
  </div>

  
</div>

