<div data-role='content'>

  <div class='ui-grid-b'>
    <div class='ui-block-a'>&nbsp;</div>
    <div class='ui-block-b'>
      <input type='button' id='up' data-role='button' data-icon=''
      data-iconpos='top' data-inline='true' value='Up'>
    </div>
  </div>

  <div class='ui-grid-b'>

    <div class='ui-block-a'> 
      <input type='button' id='left' data-mini='true' data-role='button' data-icon=''
      data-inline='true' value='Left'>
    </div>

    <div class='ui-block-b'>
      <input type='button' id='shoot' data-role='button' data-icon=''
      data-iconpos='bottom' data-inline='true' value='Shoot'>
    </div>

    <div class='ui-block-c'>
      <input type='button' id='right' data-role='button' data-icon='' 
        data-iconpos='right' data-inline='true' value='Right'>
    </div>
  </div>

  <div class='ui-grid-b'>
    <div class='ui-block-a'>&nbsp;</div>
    <div class='ui-block-b'>
      <input type='button' id='down' data-role='button' data-icon='' 
        data-iconpos='bottom' data-inline='true' value='Down'>
    </div>
  </div>

</div>
